/EFNCLoader/bin
/EFNCLoader/obj
/EFNCLoader/*.log
/EFNCLoader/Migrations
/EFNCLoader/project.lock.json
/NetCoreBuilded/VesselService
/NetCore/CountryService/env.bat
/NetCore/PositionService/env.bat
/NetCore/TypeService/env.bat
/NetCore/VesselService/env.bat
/Leechit/bin
/Leechit/obj
/Leechit/project.lock.json
/Leechit/11
/Leechit/11.xml
/RegisterFlags/11
/RegisterFlags/bin
/RegisterFlags/obj
/RegisterInfo/11
/RegisterInfo/bin
/RegisterInfo/obj
/RegisterInfo/11.xml
/RegisterFlags/Flags.txt
/RegisterToXml/Data.xml
/RegisterToXml/bin
/RegisterToXml/Data
/RegisterToXml/obj
