/EFNCLoader/bin
/EFNCLoader/obj
/EFNCLoader/*.log
/EFNCLoader/Migrations
/EFNCLoader/project.lock.json
/NetCoreBuilded/VesselService
/NetCore/CountryService/env.bat
/NetCore/PositionService/env.bat
/NetCore/TypeService/env.bat
/NetCore/VesselService/env.bat
/Leechit/bin
/Leechit/obj
/Leechit/project.lock.json
/Leechit/11
/Leechit/11.xml
